<a href="https://colab.research.google.com/github/Maxibrionest/AVIZ.github.io/blob/main/Entrega2/Entrega2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Machine Learning, caso de estudio Monopoly/Dormammu**

Nombre: Maximiliano Briones / Lucas Vásquez

Sección: 003V

Evaluación: 2

Fecha de entrega: 19/11/2021

---

## **Fase I. Business Understanding**

El banco "Monopoly" fue adquirido recientemente por el banco, con capitales extranjeros, "Dormammu". Éste encargó hacer estudios sobre la adquisición, determinando  comportamiento, patrones y una estrategia para abordar a los nuevos clientes.

La base de datos que se extrajo corresponde a una muestra de 12 meses con información de clientes, en variables mensuales para cada uno.

[Link a enunciado original](https://github.com/Maxibrionest/MachineLearning/blob/main/Entrega1/ET221_3A_MLY0100.docx).

En base a lo anterior, se determinó como target el monto de pagos de deuda internacional del cliente en el mes 12.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [2]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [4]:
sheetname = 'Transición de Negocio'
path_to_file = '/gdrive/MyDrive/DUOC/2021 - 2/MLY/Entrega2/Base_clientes_Monopoly.xlsx'
df = pd.read_excel(path_to_file, sheet_name=sheetname, header=1)

# Sección nueva

Al ver el excel, existe una suma que da cuenta de la cantidad de columnas y que está en la misma altura que los headers de las columnas, por lo que se eliminará al no aportar valor.

In [79]:
df.columns

Index(['Id', 'Subsegmento', 'Sexo', 'Region', 'Edad', 'Renta', 'Antiguedad',
       'Internauta', 'Adicional', 'Dualidad',
       ...
       'ColMx_T01', 'PagoNac_T01', 'PagoInt_T01', 'EeccNac_T01', 'EeccInt_T01',
       'UsoL1_T01', 'UsoL2_T01', 'UsoLI_T01', 'IndRev_T01', 'target'],
      dtype='object', length=574)

In [6]:
df = df.drop(columns=['Unnamed: 574'])

In [7]:
print("Cantidad de observaciones: ", df.shape[0])
print("Cantidad de columnas:      ", df.shape[1])
print("Cantidad de datos:         ", df.shape[0] * df.shape[1])
observaciones = df.shape[0]

Cantidad de observaciones:  51124
Cantidad de columnas:       574
Cantidad de datos:          29345176

In [8]:
corrdat = df.corr()

In [9]:
def getCorr(dat, lim): #obtiene los features con mayor impacto en el target
    feature = []
    valor = []
    
    for i , index in enumerate(dat.index): #bucle para todos los indices
        if abs(dat[index]) > lim:
            feature.append(index)
            print(index)
            valor.append(dat[index])

    df = pd.DataFrame(data = valor, index = feature, columns = ['corr value'])

    return df

In [112]:
lim = 0.01
corr_value = getCorr(corrdat['PagoInt_T12'], lim)

Hipotecario
CUPO_L1
CUPO_MX
FacCI_T12
PagoInt_T12
FlgActCCOT_T11
PagoInt_T07

In [11]:
corrdat['PagoInt_T12'].sort_values(key=abs, ascending=False)

PagoInt_T12       1.000000
CUPO_L1           0.017535
FlgActCCOT_T11    0.013894
FacCI_T12         0.012834
Hipotecario       0.011549
                    ...
ColL1T0_T03      -0.000029
ColL2CC_T07      -0.000024
TxsDebAtm_T02     0.000018
TxsDebAtm_T07     0.000009
CambioPin              NaN
Name: PagoInt_T12, Length: 561, dtype: float64

#### Region
Región de residencia del cliente. Rango de valores de 1 a 13 inclusivos, por lo que se asume que no está aplicada la división de 2018, tomando en cuenta 13 regiones con la metropolitana como número 13.

In [12]:
print("Cantidad de MV en variable: ", df['Region'].isnull().sum())
print(f"Porcentaje de MV: {round(df['Region'].isnull().sum()/observaciones*100,3)}%")

Cantidad de MV en variable:  53
Porcentaje de MV: 0.104%

Buscamos un sistema que modele segun los datos del mes anterior (POR AHORA)

In [13]:
df.columns

Index(['Id', 'Subsegmento', 'Sexo', 'Region', 'Edad', 'Renta', 'Antiguedad',
       'Internauta', 'Adicional', 'Dualidad',
       ...
       'ColMx_T01', 'PagoNac_T01', 'PagoInt_T01', 'EeccNac_T01', 'EeccInt_T01',
       'UsoL1_T01', 'UsoL2_T01', 'UsoLI_T01', 'IndRev_T01', 'target'],
      dtype='object', length=574)

In [14]:
lim = 0.55
corr_value = getCorr(corrdat['target'], lim)

target

In [15]:
corrdat['PagoInt_T12'].sort_values(key=abs, ascending=False)

PagoInt_T12       1.000000
CUPO_L1           0.017535
FlgActCCOT_T11    0.013894
FacCI_T12         0.012834
Hipotecario       0.011549
                    ...
ColL1T0_T03      -0.000029
ColL2CC_T07      -0.000024
TxsDebAtm_T02     0.000018
TxsDebAtm_T07     0.000009
CambioPin              NaN
Name: PagoInt_T12, Length: 561, dtype: float64

In [17]:
cols_flag = []
for i in df.columns:
  if i[0:3] == "Flg":
    cols_flag.append(i)

In [19]:
print(cols_flag)
print(len(cols_flag))

['FlgAct_T12', 'FlgActCN_T12', 'FlgActCI_T12', 'FlgActAN_T12', 'FlgActAI_T12', 'FlgActPAT_T12', 'FlgActCCPC_T12', 'FlgActCCOT_T12', 'FlgActCOL_T12', 'FlgAct_T11', 'FlgActCN_T11', 'FlgActCI_T11', 'FlgActAN_T11', 'FlgActAI_T11', 'FlgActPAT_T11', 'FlgActCCPC_T11', 'FlgActCCOT_T11', 'FlgActCOL_T11', 'FlgAct_T10', 'FlgActCN_T10', 'FlgActCI_T10', 'FlgActAN_T10', 'FlgActAI_T10', 'FlgActPAT_T10', 'FlgActCCPC_T10', 'FlgActCCOT_T10', 'FlgActCOL_T10', 'FlgAct_T09', 'FlgActCN_T09', 'FlgActCI_T09', 'FlgActAN_T09', 'FlgActAI_T09', 'FlgActPAT_T09', 'FlgActCCPC_T09', 'FlgActCCOT_T09', 'FlgActCOL_T09', 'FlgAct_T08', 'FlgActCN_T08', 'FlgActCI_T08', 'FlgActAN_T08', 'FlgActAI_T08', 'FlgActPAT_T08', 'FlgActCCPC_T08', 'FlgActCCOT_T08', 'FlgActCOL_T08', 'FlgAct_T07', 'FlgActCN_T07', 'FlgActCI_T07', 'FlgActAN_T07', 'FlgActAI_T07', 'FlgActPAT_T07', 'FlgActCCPC_T07', 'FlgActCCOT_T07', 'FlgActCOL_T07', 'FlgAct_T06', 'FlgActCN_T06', 'FlgActCI_T06', 'FlgActAN_T06', 'FlgActAI_T06', 'FlgActPAT_T06', 'FlgActCCPC_T06', 'FlgActCCOT_T06', 'FlgActCOL_T06', 'FlgAct_T05', 'FlgActCN_T05', 'FlgActCI_T05', 'FlgActAN_T05', 'FlgActAI_T05', 'FlgActPAT_T05', 'FlgActCCPC_T05', 'FlgActCCOT_T05', 'FlgActCOL_T05', 'FlgAct_T04', 'FlgActCN_T04', 'FlgActCI_T04', 'FlgActAN_T04', 'FlgActAI_T04', 'FlgActPAT_T04', 'FlgActCCPC_T04', 'FlgActCCOT_T04', 'FlgActCOL_T04', 'FlgAct_T03', 'FlgActCN_T03', 'FlgActCI_T03', 'FlgActAN_T03', 'FlgActAI_T03', 'FlgActPAT_T03', 'FlgActCCPC_T03', 'FlgActCCOT_T03', 'FlgActCOL_T03', 'FlgAct_T02', 'FlgActCN_T02', 'FlgActCI_T02', 'FlgActAN_T02', 'FlgActAI_T02', 'FlgActPAT_T02', 'FlgActCCPC_T02', 'FlgActCCOT_T02', 'FlgActCOL_T02', 'FlgAct_T01', 'FlgActCN_T01', 'FlgActCI_T01', 'FlgActAN_T01', 'FlgActAI_T01', 'FlgActPAT_T01', 'FlgActCCPC_T01', 'FlgActCCOT_T01', 'FlgActCOL_T01']
108

In [20]:
def buscar_cols(texto, numero):
  columnas = []
  for i in df.columns:
    columnas.append(i)
  col = []
  for i in columnas:
    if i[0:numero] == texto:
      col.append(i)
  return col

In [21]:
col_Txs_T = buscar_cols("Txs_T", 5)
print(col_Txs_T)

['Txs_T12', 'Txs_T11', 'Txs_T10', 'Txs_T09', 'Txs_T08', 'Txs_T07', 'Txs_T06', 'Txs_T05', 'Txs_T04', 'Txs_T03', 'Txs_T02', 'Txs_T01']

In [27]:
def buscar_t12():
    cols_a_dropear = []
    for i in df.columns:
        if i[-3:] == "T12":
            cols_a_dropear.append(i)
    return cols_a_dropear

In [29]:
cols_drop_1 = buscar_t12()
cols_drop_1

['FlgAct_T12',
 'FlgActCN_T12',
 'FlgActCI_T12',
 'FlgActAN_T12',
 'FlgActAI_T12',
 'FlgActPAT_T12',
 'FlgActCCPC_T12',
 'FlgActCCOT_T12',
 'FlgActCOL_T12',
 'Fac_T12',
 'Txs_T12',
 'FacCN_T12',
 'TxsCN_T12',
 'FacCI_T12',
 'TxsCI_T12',
 'FacAN_T12',
 'TxsAN_T12',
 'FacAI_T12',
 'TxsAI_T12',
 'FacPAT_T12',
 'TxsPAT_T12',
 'FacCCPC_T12',
 'TxsCCPC_T12',
 'FacCCOT_T12',
 'TxsCCOT_T12',
 'FacCOL_T12',
 'TxsCOL_T12',
 'FacDebCom_T12',
 'TxsDebCom_T12',
 'FacDebAtm_T12',
 'TxsDebAtm_T12',
 'Col_T12',
 'ColL1T0_T12',
 'ColL1TE_T12',
 'ColL2T0_T12',
 'ColL2AC_T12',
 'ColL2CC_T12',
 'ColMx_T12',
 'PagoNac_T12',
 'PagoInt_T12',
 'EeccNac_T12',
 'EeccInt_T12',
 'UsoL1_T12',
 'UsoL2_T12',
 'UsoLI_T12',
 'IndRev_T12']

In [30]:
df_1 = df.drop(columns=cols_drop_1)

In [33]:
df_1.drop(columns=["target"])

          Id  Subsegmento Sexo  ...  UsoL2_T01  UsoLI_T01  IndRev_T01
0          1          160    M  ...      15080        0.0           R
1          2          160    H  ...      83596        0.0           R
2          3          170    H  ...          0        0.0           T
3          4          151    H  ...      10591        0.0           R
4          5          170    H  ...     377782        0.0           R
...      ...          ...  ...  ...        ...        ...         ...
51119  51120          160    H  ...      12668        0.0           R
51120  51121          170    H  ...     572363        0.0           R
51121  51122          160    H  ...      16241        0.0           R
51122  51123          160    M  ...      84982        0.0           R
51123  51124          170    H  ...          0        0.0           R

[51124 rows x 527 columns]

In [37]:
target = df["PagoInt_T12"]

In [38]:
df_1["target"] = target

In [80]:
df_1

          Id  Subsegmento Sexo  ...  UsoLI_T01  IndRev_T01  target
0          1          160    M  ...        0.0           R     0.0
1          2          160    H  ...        0.0           R     0.0
2          3          170    H  ...        0.0           T     0.0
3          4          151    H  ...        0.0           R     0.0
4          5          170    H  ...        0.0           R     0.0
...      ...          ...  ...  ...        ...         ...     ...
51119  51120          160    H  ...        0.0           R     0.0
51120  51121          170    H  ...        0.0           R     0.0
51121  51122          160    H  ...        0.0           R     0.0
51122  51123          160    M  ...        0.0           R     NaN
51123  51124          170    H  ...        0.0           R     0.0

[51124 rows x 528 columns]

In [44]:
corrdat_1 = df_1.corr()

In [45]:
lim = 0.01
corr_value_1 = getCorr(corrdat_1['target'], lim)

Hipotecario
CUPO_L1
CUPO_MX
FlgActCCOT_T11
PagoInt_T07
target

In [46]:
corrdat_1['target'].sort_values(key=abs, ascending=False)

target            1.000000
CUPO_L1           0.017535
FlgActCCOT_T11    0.013894
Hipotecario       0.011549
CUPO_MX           0.010990
                    ...
ColL1T0_T03      -0.000029
ColL2CC_T07      -0.000024
TxsDebAtm_T02     0.000018
TxsDebAtm_T07     0.000009
CambioPin              NaN
Name: target, Length: 516, dtype: float64

In [49]:
corrdat_1['target'].sort_values(key=abs, ascending=False).tail(100)

Ctacte           0.000712
FlgActAN_T09    -0.000711
TxsAN_T07       -0.000708
Fac_T04         -0.000681
ColL1T0_T04     -0.000677
                   ...
ColL1T0_T03     -0.000029
ColL2CC_T07     -0.000024
TxsDebAtm_T02    0.000018
TxsDebAtm_T07    0.000009
CambioPin             NaN
Name: target, Length: 100, dtype: float64

In [64]:
df_cols_drop_100 = pd.DataFrame(data=corrdat_1['target'].sort_values(key=abs, ascending=False).tail(100))
cols_drop_100 = []
for i in df_cols_drop_100.index:
    cols_drop_100.append(i)

In [73]:
cols_drop_100[5:8]

['ColL2CC_T08', 'FacCCOT_T10', 'Monoproducto']

In [81]:
df_2 = df_1.drop(columns=cols_drop_100)

In [99]:
df_2

          Id  Subsegmento Sexo  ...  UsoLI_T01  IndRev_T01  target
0          1          160    M  ...        0.0           R     0.0
1          2          160    H  ...        0.0           R     0.0
2          3          170    H  ...        0.0           T     0.0
3          4          151    H  ...        0.0           R     0.0
4          5          170    H  ...        0.0           R     0.0
...      ...          ...  ...  ...        ...         ...     ...
51119  51120          160    H  ...        0.0           R     0.0
51120  51121          170    H  ...        0.0           R     0.0
51121  51122          160    H  ...        0.0           R     0.0
51122  51123          160    M  ...        0.0           R     NaN
51123  51124          170    H  ...        0.0           R     0.0

[51124 rows x 428 columns]

In [83]:
corrdat_2 = df_2.corr()

In [84]:
lim = 0.01
corr_value_2 = getCorr(corrdat_2['target'], lim)

Hipotecario
CUPO_L1
CUPO_MX
FlgActCCOT_T11
PagoInt_T07
target

In [85]:
corrdat_2['target'].sort_values(key=abs, ascending=False)

target            1.000000
CUPO_L1           0.017535
FlgActCCOT_T11    0.013894
Hipotecario       0.011549
CUPO_MX           0.010990
                    ...
PagoNac_T08      -0.000774
FacAI_T05         0.000769
PagoNac_T05      -0.000760
FacCCOT_T09      -0.000743
ColL2CC_T06      -0.000737
Name: target, Length: 416, dtype: float64

In [86]:
corrdat_2['target'].sort_values(key=abs, ascending=False).tail(100)

TxsCCOT_T03   -0.001585
FacCN_T03     -0.001583
TxsPAT_T11    -0.001573
Col_T10       -0.001559
ColMx_T03      0.001544
                 ...
PagoNac_T08   -0.000774
FacAI_T05      0.000769
PagoNac_T05   -0.000760
FacCCOT_T09   -0.000743
ColL2CC_T06   -0.000737
Name: target, Length: 100, dtype: float64

In [104]:
df_cols_drop_128 = pd.DataFrame(data=corrdat_2['target'].sort_values(key=abs, ascending=False).tail(128))
cols_drop_128 = []
for i in df_cols_drop_128.index:
    cols_drop_128.append(i)

In [105]:
df_cols_drop_128

               target
FacCCPC_T04 -0.001749
FacCCPC_T08 -0.001744
TxsPAT_T03  -0.001743
FacCCPC_T05 -0.001742
UsoL2_T01   -0.001740
...               ...
PagoNac_T08 -0.000774
FacAI_T05    0.000769
PagoNac_T05 -0.000760
FacCCOT_T09 -0.000743
ColL2CC_T06 -0.000737

[128 rows x 1 columns]

In [106]:
df_3 = df_2.drop(columns=cols_drop_128)

In [107]:
df_3

          Id  Subsegmento Sexo  ...  UsoLI_T01  IndRev_T01  target
0          1          160    M  ...        0.0           R     0.0
1          2          160    H  ...        0.0           R     0.0
2          3          170    H  ...        0.0           T     0.0
3          4          151    H  ...        0.0           R     0.0
4          5          170    H  ...        0.0           R     0.0
...      ...          ...  ...  ...        ...         ...     ...
51119  51120          160    H  ...        0.0           R     0.0
51120  51121          170    H  ...        0.0           R     0.0
51121  51122          160    H  ...        0.0           R     0.0
51122  51123          160    M  ...        0.0           R     NaN
51123  51124          170    H  ...        0.0           R     0.0

[51124 rows x 300 columns]

In [108]:
df_3 = df_3.drop(columns=["Id"])

       Subsegmento Sexo  Region  ...  UsoLI_T01  IndRev_T01  target
0              160    M    13.0  ...        0.0           R     0.0
1              160    H    13.0  ...        0.0           R     0.0
2              170    H    13.0  ...        0.0           T     0.0
3              151    H    13.0  ...        0.0           R     0.0
4              170    H    13.0  ...        0.0           R     0.0
...            ...  ...     ...  ...        ...         ...     ...
51119          160    H    13.0  ...        0.0           R     0.0
51120          170    H    13.0  ...        0.0           R     0.0
51121          160    H    13.0  ...        0.0           R     0.0
51122          160    M    13.0  ...        0.0           R     NaN
51123          170    H    13.0  ...        0.0           R     0.0

[51124 rows x 299 columns]